.Loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  img {
    width: 25%;
  }
}

@media (max-width: 992px) {
  .Loading {
    img {
      width: 40%;
    }
  }
}
